@font-face {
    font-family: HelveticaNeue-Light;
    src: url("./font-styles/HelveticaNeue-Light.otf");
}

body {
    background-color: #f5f5f5;
    text-color: #666666;
}

/*Header*/
.todos-header {
    text-align: center;
    margin-bottom: -60px;
    vertical-align: bottom;
}

.todos-title {
    display: inline-block;
    font-size: 60pt;
    color: #5b3e3e;
    text-transform: lowercase;
    font-weight: 100;
    font-family: HelveticaNeue-Light, serif;
}

.todo-add_select-all {
    background: url("icons/select-all.png") no-repeat;
    width: 24px;
    height: 12px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
}

.todo-add_input {
    border: none;
    background: #ffffff !important; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым */
    outline: none;
    height: 24px;
    width: 546px;
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
    color: #666666;
}

/*Items workspace*/
.todos-add {
    border: 1px solid #e6e6e6;
    width: 600px;
    padding: 15px 15px;
    background-color: white;
    margin: 0 auto -1px;
}

.todos-list {
    border: 1px solid #e6e6e6;
    width: 630px;
    background-color: white;
    margin: 0 auto -2px;
    min-height: 300px;
}

.todo-item {
    overflow: hidden;
    padding: 10px 10px;
    border-bottom: 1px solid #e6e6e6;
}

.todo-item:hover {
    background-color: #fafafa;
}

.todo-item_text {
    display: block;
    width: 525px;
    border: none;
    resize: none;
    color: #666666;
    outline: none;
    float: right;
    font-size: 22px;
    height: 30px;
    background-color: inherit;
    padding-right: 15px;

    position: relative;
    top: 6px;
}

.__ready .todo-item_text {
    text-decoration: line-through;
    color: #cfcfcf;
}

.todo-item_unready-mark {
    border-radius: 50%;
    background-color: white;
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    float: left;

}

.todo-item_ready-mark {
    display: block;
    border-radius: 50%;
    border: 1px solid #5dc2af;
    background: url('./icons/completed.png') no-repeat center;
    width: 35px;
    height: 35px;
    float: left;
    cursor: pointer;

}

.todo-item_remove {
    background: inherit;
    width: 18px;
    height: 18px;
    border: none;
    float: right;
    outline: none;
    cursor: pointer;

    position: relative;
    top: 8px;
}

.todo-item:hover .todo-item_remove {
    display: block;
    background: url("./icons/close.png") no-repeat;
}

/*Action bars*/
.todos-actions-bar {
    border: 1px solid #e6e6e6;
    padding: 15px 15px;
    margin: 0 auto -1px;
    width: 600px;
    background-color: white;
    height: 15px;
    color: #666666;
}

.todos-actions-bar_counter {
    float: left;
}

.todos-filters {
    float: left;
    margin-left: 130px;
}

.todos-filter {
    border: none;
    background-color: white;
    color: #666666;
    outline: none;
    cursor: pointer;
}

.__active {
    border: 1px solid #e6e6e6;
}

.todos-actions-bar_clear-completed {
    color: #666666;
    border: none;
    background-color: white;
    float: right;
    outline: none;
    cursor: pointer;
}

/*Bottom cards*/
.todos-bottom-cards {
}

.todos-bottom-cards_first {
    width: 626px;
    height: 3px;
    border: 1px solid #e6e6e6;
    background-color: white;
    margin: 0 auto -1px;
}

.todos-bottom-cards_second {
    width: 624px;
    height: 3px;
    border: 1px solid #e6e6e6;
    background-color: white;
    margin: 0 auto;
}