@import "../../config/globals";

.todos-actions-bar_clear-completed {
    color: $c-text;
    border: none;
    background-color: $c-main-content-bg;
    float: right;
    outline: none;
    cursor: pointer;
    order: 3;
    max-width: 33%;
}