@import "../../config/globals";

.todo-item_remove {
    background: inherit;
    width: 18px;
    height: 18px;
    border: none;
    float: right;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: $offset-main-content;
    right: $offset-main-content;
    z-index: 1;
    align-self: flex-end;
}

.todo-item:hover .todo-item_remove {
    display: block;
    background-image: url("../../../images/svg/close.svg");
}