@import "../../config/vars/colors";

.todos-bottom-cards {
    width: 100%;
    margin: 0 auto;
}

.todos-bottom-cards_first {
    height: 5px;
    border: 1px solid $c-default-border;
    background-color: $c-main-content-bg;
    margin-left: 1px;
    margin-right: 1px;
}

.todos-bottom-cards_second {
    height: 4px;
    border: 1px solid $c-default-border;
    background-color: $c-main-content-bg;
    margin-top: -1px;
    margin-left: 2px;
    margin-right: 2px;
}