$c-main-background: #f5f5f5;
$c-text: #666;
$c-completed-text: #cfcfcf;
$c-header-text: rgba(175, 47, 47, 0.15);
$c-default-border: #e6e6e6;
$c-filters-background: #fff;
$c-completed-todo: #5dc2af;
$c-main-content-bg: #fff;
$c-item-hover-bg: #fafafa;

