$first-card-height: 5px;
$second-card-margin-top: -1px;
$second-card-height: $first-card-height + $second-card-margin-top;
$text-content-height: 30px;

$item-select-height: 35px;
$item-select-width: $item-select-height;
