@import "../../config/globals";

$todos-add-height: 64px;

.todos-add {
    height: $todos-add-height;
    background: #fff;
    @include clearfix;
}

    .todo-add_select-all-action {
        width: 24px;
        height: 24px;
        float: left;
        margin: 20px 0 0 20px;
        //opacity: 1;
    }

    .todo-add_select-all-action .action_visual {
        width: 24px;
        height: 12px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        margin-top: -6px;
    }

        .todo-add_select-all-action .action_visual:before,
        .todo-add_select-all-action .action_visual:after {
            content: '';
            position: absolute;
            height: 3px;
            background: #737373;
            width: 100%;
        }

        .todo-add_select-all-action .action_visual:before {
            transform: rotate(32.5deg);
            left: -9px;
            top: 2px;
        }

        .todo-add_select-all-action .action_visual:after {
            transform: rotate(-32.5deg);
            left: 9px;
            top: 2px;
    }

    .todo-add_input_w {
        overflow: hidden
    }

        .todo-add_input {
            height: $todos-add-height;
            border: none;
            background: $c-main-content-bg;
            outline: none;
            width: 100%;
            font-size: $font-size-text;
            font-style: italic;
            font-weight: 100;
            color: $c-text;
            align-self: center;
            padding: 16px;
            box-sizing: border-box; /* Свойства width и height включают в себя значения полей и границ, но не отступов (margin) */
        }
