@import "../../config/vars/colors";


.todo-item {
    overflow: hidden;
    border-bottom: 1px solid $c-default-border;
    position: relative;
    display: flex;
    /*min-height: 30px;*/
}

.todo-item:hover {
    background-color: $c-item-hover-bg;
}