.todo-item_text {
    display: block;
    width: 87%;
    border: none;
    resize: none;
    color: #666666;
    outline: none;
    float: right;
    font-size: 22px;
    min-height: 30px;
    background-color: inherit;
    top: 6px;
    word-wrap: break-word;
    align-self: center;
    margin: 10px 40px 10px 10px;
    word-break: break-all;
    flex: 1 0;
}

.todo-item.__ready  .todo-item_text {
    text-decoration: line-through;
    color: #cfcfcf;
}