.todos-bottom-cards {
    width: 60%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.todos-bottom-cards_first {
    height: 4px;
    border: 1px solid #e6e6e6;
    background-color: white;
    margin-left: -14px;
    margin-right: -14px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.todos-bottom-cards_second {
    height: 4px;
    border: 1px solid #e6e6e6;
    background-color: white;
    margin-top: -1px;
    margin-left: -13px;
    margin-right: -13px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}