@import "../../config/vars/colors";
@import "../../config/vars/offsets";

.todos-actions-bar {
    border: 1px solid $c-default-border;
    padding-top: $offset-main-content;
    padding-bottom: $offset-main-content;
    margin: 0 auto -1px;
    background-color: $c-filters-background;
    min-height: $offset-main-content;
    color: $c-text;
    display: flex;
    word-break: break-all;
}

.todos-actions-bar_counter {
    max-width: 33%;
    float: left;
    order: 1;
    margin-left: $offset-main-content;
}

.todos-filters {
    max-width: 33%;
    order: 3;
    margin: 0 auto;
}