@import "../../config/globals";

.todo-add_input {
    border: none;
    background: $c-main-content-bg !important; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым */
    outline: none;
    height: $text-content-height;
    width: 100%;
    font-size: $font-size-text;
    font-style: italic;
    font-weight: 100;
    color: $c-text;
    align-self: center;
    margin-left: $offset-main-content;
}