@import "../../config/vars/colors";
@import "../../config/vars/offsets";


.todos-add {
    border: 1px solid $c-default-border;
    padding-top: $offset-todos-add;
    padding-bottom: $offset-todos-add;
    background-color: $c-main-content-bg;
    margin: 0 auto -1px;
    display: flex;
}
