@import "../../config/vars/colors";

.todos-header {
    text-align: center;
}

.todos-title {
    display: inline-block;
    color: $c-header-text;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 100px;
}