@mixin border-radius($radius, $border-size, $color) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    border: $border-size solid $color;
}