.todo-item_input-checkbox {
    position: relative;
    width: 35px;
    height: 35px;
    align-self: center;
    margin-left: 5px;
}

.item-input-checkbox_target {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.item-input-checkbox_visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 1px solid #e6e6e6;
}

/*TODO: ховеры*/
.item-input-checkbox_target:hover ~ .input-checkbox_visual {
}

.item-input-checkbox_target:checked ~ .item-input-checkbox_visual {
    border-radius: 50%;
    border: 1px solid #5dc2af;
    /*background: url('../../../images/svg/completed.svg') no-repeat center;*/
}

.item-input-checkbox_target:hover:checked ~ .input-checkbox_visual {
}

.item-input-checkbox_target:checked ~ .item-input-checkbox_visual .item-input-checkbox_visual-right {
    position: absolute;
    top: 0;
    left: 35%;

    width: 65%;
    height: 100%;
    background: url('../../../images/svg/t2.svg') no-repeat left center;

    transform: rotate(37deg);
    transition: transform .8s;

    margin-top: 7.4px;
    margin-left: 6px;
}

.item-input-checkbox_target:checked ~ .item-input-checkbox_visual .item-input-checkbox_visual-left {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 35%;
    background: url('../../../images/svg/t1.svg') no-repeat right center;

    transform: rotate(-35deg);
    transition: transform .8s;

    margin-top: 6.7px;
    margin-left: 8px;
}